<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#233d2e">
    <link rel="shortcut icon" type="image/png" href= "{{ url_for('static', filename='favicon.png')}}">
    <link rel="apple-touch-icon" href= "{{ url_for('static', filename='ios-icon.png')}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google-site-verification" content="U7dQ458CDoW2SVOydamTTjKVB2DXoPe-FwlMnkfpBgY" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- iOS Portrait Splash Screens-->
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/iPhone_14_Pro_Max_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/iPhone_14_Pro_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/iPhone_11__iPhone_XR_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png')}}">

    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/12.9__iPad_Pro_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/10.9__iPad_Air_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/10.5__iPad_Air_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/10.2__iPad_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='splash_screens/8.3__iPad_Mini_portrait.png')}}">
    <!-- iOS Landscape Splash Screens-->
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/iPhone_14_Pro_Max_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/iPhone_14_Pro_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/iPhone_11__iPhone_XR_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png')}}">

    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/12.9__iPad_Pro_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/10.9__iPad_Air_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/10.5__iPad_Air_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/10.2__iPad_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png')}}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='splash_screens/8.3__iPad_Mini_landscape.png')}}">

<script>navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js')}}")</script> 
<link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}" />    
<title>Al-Salam Prayer Times</title>
</head>
<body style="background-color: #233d2e;">
    <nav class="navbar navbar-dark" style="background-color: #233d2e;">
        <div class="container-fluid">
          <a class="navbar-brand text-center" href="#" >
            <img src="{{ url_for('static', filename='mac logo.png')}}" alt="" width="146" height="50" class="d-inline-block align-text-baseline">
            Al-Salam Centre
          </a>
          <h1 class="display-4" >{{td}} <br/> {{hd}} </h1>
        </div>
      </nav>
    <div class="container" style="padding-top: 2%; padding-bottom: 2%; margin-top: 5%;">
        <table class="table table-borderless text-center">
            <thead>
              <tr>
                <th scope="col">Prayer</th>
                <th scope="col">Adhan</th>
                <th scope="col">Iqama</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Fajr</td>
                <td>{{fa}}</td>
                <td>{{fi}}</td>
              </tr>
              <tr>
                <td>Sunrise</td>
                <td>{{sr}}</td>
                <td>--</td>
              </tr>
              <tr>
                <td>Dhuhr</td>
                <td>{{da}}</td>
                <td>{{di}}</td>
              </tr>
              <tr>
                <td>Asr</td>
                <td>{{aa}}</td>
                <td>{{ai}}</td>
              </tr>
              <tr>
                <td>Maghrib</td>
                <td>{{ma}}</td>
                <td>{{mi}}</td>
              </tr>
              <tr>
                <td>Isha</td>
                <td>{{ia}}</td>
                <td>{{ii}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    
    <div class="container jumuah" style="padding-top: 1%; padding-bottom: 1%; margin-top: 2%; margin-bottom: 2%;">
        <figure class="text-center">
            <h1 class="display-5" >1<sup>st</sup> Jumuah 12:00 PM</h1>
            <h1 class="display-5" >2<sup>nd</sup> Jumuah 1:00 PM</h1>
            <!-- <h1 class="display-5" >3<sup>rd</sup> Jumuah 1:30 PM</h1> -->
        </figure>
        <figure class="text-center">
            <h1 class="display-4 fw-bolder" id="clock"></h1>
        </figure>
    </div>

    <div class="container announcements" style="padding-top: 1%; padding-bottom: 1%; margin-top: 1%; margin-bottom: 2%;">
      <h1 class="h1">Announcements</h1>
      <blockquote class="blockquote">
        <p class="message">☪️Ramadan is coming up! Get yourself ready by: </p>
        <ul>
          <li>🍉Fasting Mondays and Thursdays</li>
          <li>📖Reading more Qur'an</li>
          <li>🤲Praying Qiyam ul-Layl and Tahajjud</li>
          <li>📈Increase in good deeds</li>
        </ul>
      </blockquote>

  </div>

    <a href="https://centres.macnet.ca/alsalamcentre/">
      <img class = logo src="/static/favicon.png" alt="meow" style="padding-top: 5%; width: 20%;">
    </a>

    <script>
    updateClock();
    function updateClock() {
        var now = new Date(), // current date
            H = now.getHours();
            M = now.getMinutes();
            S = now.getSeconds();

            if (H.toString().length < 2) {
              H = '0' + H;
            }

            if (M.toString().length < 2) {
              M = '0' + M;
            }

            if (S.toString().length < 2) {
              S = '0' + S;
          }
            time = H + ':' + M + ':' + S, // again, you get the idea
            time = tConvert(time);

        // set the content of the element with the ID time to the formatted string
        document.getElementById('clock').innerHTML = time; //[date, time].join(' / ');
}

  </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>